00_old_fold
*.o
*.exe
*.mkv
*.mp4
*.pptx
**.pptx
00_old_fold/Teorias_audio/clase 6 PARTE4.pptx
00_old_fold/Teorias_audio/clase 5 con audio.pptx
00_old_fold/Teorias_audio/clase 6 PARTE3.pptx
00_old_fold/Teorias_audio/clase 7 parte 2.pptx
00_old_fold/Teorias_audio/clase 7.pptx
00_old_fold/Teorias_audio/clase3 con audio.pptx
00_old_fold/Teorias_audio/clase 5 con audio.pptx
00_old_fold/Teorias_audio/clase 6 PARTE1.pptx
00_old_fold/Teorias_audio/clase 6 PARTE2.pptx
